NEXT_PUBLIC_SITE_URL=https://tiktok-wrapped-by-muke.vercel.app
NEXT_PUBLIC_SITE_CREDIT_NAME=mukesudo
NEXT_PUBLIC_SITE_CREDIT_URL=https://mukhtarsaeed.vercel.app
NEXT_PUBLIC_SITE_X_HANDLE=@lowflex101
GOOGLE_SITE_VERIFICATION=
